.dashBoard {
    max-height: 100vh;
    overflow-y: scroll;
    flex: 0 0 70%;
    padding: 1rem;
    margin-top: 6.8rem;
}

.bigRow,
.simpleRow {
    display: flex;
    justify-content: space-between;
}

.simpleRow > * {
    margin: 2rem 1rem 1rem;
}

.bigRow > :first-child {
    margin: 2rem 1rem 1rem  0;
}
.bigRow > :last-child {
    margin: 2rem 0 1rem 1rem;
}

@media (max-width: 1000px) {
    .dashBoard {
        max-height: calc(100vh - 6.8rem);
        flex: 1;
        padding: 1rem 2rem;
        margin: 6.8rem auto;
    }

    .bigRow {
        flex-wrap: wrap;
    }

    .simpleRow {
        flex-wrap: wrap;
        margin: 2rem 1rem 1rem;
    }

    .bigRow > :first-child {
        margin: 2rem 1rem 1rem;
    }
    .bigRow > :last-child {
        margin: 2rem 1rem 1rem;
    }
}
@media (max-width: 920px) {
    .dashBoard {
        max-height: calc(100vh - 6.8rem);
        flex: 1;
        padding: 1rem 2rem;
        margin: 6.8rem auto;
    }

    .bigRow,
    .simpleRow {
        flex-wrap: wrap;
        margin: 2rem auto 1rem;
    }

    .bigRow > :first-child {
        margin: 2rem 1rem 1rem;
    }
    .bigRow > :last-child {
        margin: 2rem 1rem 1rem;
    }
}

@media (max-width: 715px) {
    .simpleRow .stats:first-child {
        flex: 0 0 calc(100% - 1.5rem);
    }
}