.map {
  max-height: 100vh;
  overflow-y: scroll;
  flex: 0 0 70%;
  padding: 1rem;
  margin-top: 6.8rem;
}

.map > .stats {
  min-width: 40rem;
}

.map__singleRow {
  display: flex;
  justify-content: space-between;
  overflow-x: scroll;
}

.map__singleRow > * {
  margin: 2rem 1rem 1rem;
  min-width: 25rem;
}

.map .stats__progressBar,
.map .stats__bottomLine {
  display: none;
}

.map-popup {
  width: 120px;
}

.map-popup-container {
  letter-spacing: 1px;
  padding: 0 5px;
  width: 100%;
  color: #1e3e65;
  font-weight: 400;
  font-size: 1.4rem;
}

.map-popup-heading {
  margin: 0 !important;
  margin-top: 10px !important;
  font-family: 'Rubik', sans-serif;
  text-decoration: underline;
}

.map-popup-stat {
  margin: 0 !important;
  margin-top: 5px !important;
  font-family: 'Rubik', sans-serif;
}

.map-popup-flag {
  width: 100%;
  height: auto;
}

@media (max-width: 1000px) {
  .map {
    flex: 1;
  }
}
