.sidebar {
    padding-top: 6rem;
    flex: 1;
    height: 100vh;
    overflow: hidden;
    display: inline-flex;
    flex-direction: column;
}

.sidebar + .sidebar {
    display: none;
}

.sidebar__heading {
    cursor: default;
    font-size: 3.1rem;
    font-weight: 500;
    color: var(--color-primary);
    margin: 3.5rem 0 0 1rem;
    flex: 0 0 content;
}

.countryList {
    flex: 0 0 1;
    overflow: scroll;
    max-height: 1050px;
}

.sidebar--only {
    max-height: calc(100vh - 6.8rem);
}
.sidebar--only .sidebar__heading {
    flex: 1;
    text-align: center;
}

.sidebar--only .sidebar__heading  br{
    display: none;
}

@media (max-width: 1000px) {
    .sidebar--fixed{
        display: none;
    } 
}